.place-list.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  font-size: 1.25rem;
  text-align: center;
  margin: 5rem auto;
  max-width: 500px;

  background: none;
  border: none;
  box-shadow: none;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
